<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="./img/alfaz.png" width="25%" alt="robo image"/>
    <p><b style="font-size: large;">Alfaz Baig</b> (Software Engineer)</p>
    <p>This site was created by Alfaz Baig😎. Through this site you can check the weather forecast of any city, state or country</p>
    <p>This site was build to complete one small challenge. so please don't judge he's credentials based on this project.</p>
    
    <br>

    </div>
    {{>footer}}
</body>
</html>